matplotlib==3.4.1
numpy==1.23.4
pandas==1.4.0
scikit-learn==1.0.2
tqdm==4.64.0
seaborn==0.11.2
plotly==5.12.0
flameprof==0.4
jupyter==1.0.0
ipylab==0.6.0
ipympl==0.9.2
ipywidgets==8.0.2
voila==0.4.0
itables==1.5.3
